BOT_TOKEN=8728166499:AAG0irTOmOBCQ_mj5Flrcrr1Hex8V4koNAY
WEB_APP_URL=https://app.ericcole.space/
DB_HOST=localhost
DB_USER=botminiapp_usr
DB_PASS=n9~!/SklUg#*=wVF
DB_NAME=botminiapp
DEVSBITE_TOKEN=bL9yaYk9SHZKAWckIBorEaptDYjk5kQt7BRUbEFTQTk
FINNHUB_TOKEN=d6ncbu9r01qodk5v6dv0d6ncbu9r01qodk5v6dvg
OPENAI_API_KEY=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